body {
    font-family: 'Arial', sans-serif;
}

/* Keep the navbar as is */
.navbar-inverse {
    background-color: #333;
    /* Dark color for navbar */
    border-color: #333;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

/* Keep the jumbotron as is */
.jumbotron {
    background-color: #f8f9fa;
    /* Light grey background */
    color: #000;
}


.container {
    margin-top: 50px;
}

/* Change success list items to blue */
.list-group-item-success {
    background-color: #007BFF;
    /* Blue */
    border-color: #007BFF;
    color: white;
    /* White text color */
}

.list-group-item-dark {
    background-color: #D3D3D3;
    /* Light Grey */
    border-color: #D3D3D3;
}